.contenedor {
    display: flex;    
    justify-content: center;
}

.contenido {
    width: 100%;
    padding: 32px;
}

.carta {
    margin-bottom: 1em;
    width: 100%;
}

td{
}
mat-form-field{
    margin-top: 14px;
    margin-bottom: -14px;
}