<ion-content [fullscreen]="true">

  <div class="contenedor">
    <div class="contenido">
      <mat-card class="cardWithShadow" style="margin-bottom: 16px !important;">
        <mat-card-content
          style="padding-top: 16px !important; padding-bottom: 16px !important;">
          <div class="row justify-content-start">
            <div class="col-lg-9">
              <mat-form-field appearance="outline" class="w-100 hide-hint">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Número, producto o variante..."
                  (keyup)="applyFilter($any($event.target).value)" />
                <mat-icon matSuffix>
                  <i-tabler name="search"
                    class="icon-20 d-flex m-t-2"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-checkbox [(ngModel)]="showDeleted"
                (change)="cargarProductos()" color="primary">
                Mostrar Productos Inactivos
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="row">
        <div class="main-panel col-12 col-lg-12">
          <div class="b-1 rounded">
            @if(selection.selected.length === 0 ){
            <div
              class="justify-content-between gap-16 d-flex align-items-center b-b-1"
              style="height: 71px;">
              <div class="col-sm-4" style="margin-left: 29px !important;">
                <h5>Productos</h5>
              </div>
              <div
                class="col-sm-6 d-flex align-items-center justify-content-end ">
                <button mat-flat-button color="primary"
                  style="margin-right: 15px !important;"
                  (click)="openDialog('Add', {}, shop)">
                  Alta productos
                </button>
              </div>
            </div>
            }
            @if(selection.selected.length > 0){
            <div
              class="justify-content-between gap-16 d-flex align-items-center b-b-1"
              style="height: 71px;">
              <div class="col-sm-4" style="margin-left: 29px !important;">
                <h5>Lotes y Caducidades</h5>
              </div>
              <button mat-icon-button color="warn"
                style="margin-right: 29px !important;"
                (click)="deleteSelected()">
                <tabler-icon name="trash"></tabler-icon>
              </button>
            </div>
            }
            <table #table mat-table matSort [dataSource]="dataSource"
              class="w-100">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="p-l-0 ">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    color="primary"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                    class="m-l-16">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="p-l-0">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    color="primary" [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    class="m-l-16">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- SKU -->

              <!-- NAME -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                  Nombre
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex align-items-center gap-16">
                    <img class="rounded-circle" [src]="element.image"
                      width="45" />
                    <div>
                      <h6 class="f-w-600 f-s-16 m-t-0">
                        {{ element.name }}
                      </h6>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="numero_lotes">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                  Lotes asociados
                </th>
                <td mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.numero_lotes }} lote/s
                </td>
              </ng-container>
              <ng-container matColumnDef="stock_total">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                  Stock total
                </th>
                <td mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.stock_total }} uds. para
                  {{element.numero_variantes}} variante/s
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"
                  style="text-align: center;">
                </th>
                <td mat-cell *matCellDef="let element" class="action-link"
                  style="text-align: right;">

                  <button mat-stroked-button color="warning"
                    style="margin-right:.5em;"
                    (click)="openDialog('Update', element, shop)">
                    {{ 'editar' | translate }}
                  </button>

                  <button mat-stroked-button color="primary"
                    style="margin-right:.5em;"
                    (click)="openDialog('View', element, shop)">
                    {{ 'detalles' | translate }}
                  </button>

                  <button mat-stroked-button color="error"
                    (click)="onDeleteOne(element.id)">
                    {{ 'eliminar' | translate }}
                  </button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="b-t-1"
              style="border-radius: 0px 0px 10px 10px !important"
              [pageSizeOptions]="[5,10,20]" [pageSize]="productosPorPagina"
              showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </div>
    </div>
  </div>

</ion-content>