.contenedor {
    display: flex;    
    justify-content: center;
}

.contenido {
    width: 100%;
    padding: 24px;
}

.carta {
    margin-bottom: 1em;
    width: 100%;
}

td{
    padding-top: 8px;
    padding-bottom: 8px;
}